/lr4/BookModule/nbproject/private/
/lr4/LibraryModule/nbproject/private/
/lr4/LibraryWebApp/nbproject/private/
/lr4/BookModule/build/
/lr4/LibraryWebApp/build/
/lr4/LibraryModule/build/
/lr4/LibraryModule/dist/
/lr4/BookModule/dist/
/lr4/LibraryWebApp/dist/
/lr4/test/nbproject/private/
/lr4/test/build/
/lr4/test/dist/